@font-face {
    font-family: 'LeagueGothic';
    src: url('../../assets/fonts/LeagueGothic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.storepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;  
  }
  h1 {
    color: rgb(0, 255, 4); // Text color (ensure contrast with backgrounds)
    -webkit-text-stroke: 1px #ff6b6b; // First outline (inner)
    --lines: .0001px;
    
    mask: repeating-radial-gradient(
        circle at center,
        #000,
        var(--lines),
        #000,
        0, /* transition hints make code easier to manage */
        #0000,
        calc(var(--lines) * 2),
        #0000 0 /* trailing 0 is part of the hard stop logic */
    );
  }

  .paper {
    --lines: .1px;
    background-color: rgb(251, 255, 0);
    font-family: 'LeagueGothic', sans-serif;
    width: 70vw; // Adjust the width as needed
    aspect-ratio: 1 / 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .paper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-radial-gradient(
      circle at center,
      #000,
      var(--lines),
      #000,
      0,
      #0000,
      calc(var(--lines) * 2),
      #0000 0
    );
    opacity: 0.2; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure it is rendered under the text */
  }